main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Jost', sans-serif;
}

.player-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.player-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.player-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f8d6f5;
  color: #f692ee;
  border: 1px;
  border-style: solid;
  border-color:  #f692ee;
}

.player-occupied {
  background-color: #493f48;
  color: #f8d6f5;
}

.opponent-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.opponent-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.opponent-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #c6e3e6;
  color: #4fc3c9;
  border: 1px;
  border-style: solid;
  border-color:  #4fc3c9;
}

.opponent-occupied {
  color: #f7d672;
}

.hit-opponent {
  background-color: #75093a;
  color: #f6dae7;
}

.missed-opponent {
  background-color: #090b75;
  color: #cdcdf8;
}