main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Jost', sans-serif;
}

.player-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.player-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.player-square {
  width: 3rem;
  height: 3rem;
  background-color: #f8d6f5;
  border: 1px;
  border-style: solid;
  border-color:  #f692ee;
}

.opponent-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.opponent-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.opponent-square {
  width: 3rem;
  height: 3rem;
  background-color: #c6e3e6;
  border: 1px;
  border-style: solid;
  border-color:  #4fc3c9;
}