header h1 {
  margin: 2rem;
  font-family: 'DynaPuff', cursive;
  color: #a426b5;
}

h2 {
  font-family: 'DynaPuff', cursive;
  color: #4d1155
}

.placement-input {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 2rem;
  font-family: 'Jost', sans-serif;
}

.attack-input {
  display: none;
  flex-direction: column;
  width: 80%;
  padding: 2rem;
  font-family: 'Jost', sans-serif;
}

.emsg {
  display: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #c8abcc;
  border: 1px;
  border-style: dotted;
  border-color: #4d1155;
}